<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mvvm.mycarrot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">


        <activity android:name=".presentation.login.LoginActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".test.InsertDummyDataActivity"
            android:screenOrientation="portrait">

            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>


        <activity android:name=".presentation.my.BuyListActivity" />
        <activity android:name=".presentation.my.profile.MannerDetailActivity" />
        <activity android:name=".presentation.buyComplete.BuyCompleteActivity" />
        <activity android:name=".presentation.my.sellList.SellListActivity" />
        <activity android:name=".presentation.my.LikeListActivity" />
        <activity android:name=".presentation.my.CollectActivity" />
        <activity android:name=".presentation.my.NeighborhoodCertificationActivity" />
        <activity android:name=".presentation.my.EditProfileActivity" />
        <activity android:name=".presentation.my.NoticeActivity" />

        <service
            android:name="com.mvvm.mycarrot.data.service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".presentation.chat.ChatLogActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".presentation.seeMore.SeeMoreActivity" />
        <activity android:name=".presentation.search.CategoryItemActivity" />
        <activity
            android:name=".presentation.common.ItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.my.profile.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.home.SetupTownActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.write.WriteCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.write.WriteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".presentation.common.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDMfGPtcQQTFIuUhmLSyCfSZpqgp8_q4ME" />
    </application>

</manifest>