<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mvvm.mycarrot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".room.TestRoomActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".view.BuyListActivity" />
        <activity android:name=".view.MannerDetailActivity" />
        <activity android:name=".view.buyComplete.BuyCompleteActivity" />
        <activity android:name=".view.sellList.SellListActivity" />
        <activity android:name=".view.LikeListActivity" />
        <activity android:name=".view.CollectActivity" />
        <activity android:name=".view.NeighborhoodCertificationActivity" />
        <activity android:name=".view.EditProfileActivity" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.ChatLogActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".test.TestChatActivity" />
        <activity android:name=".test.act" />
        <activity android:name=".view.seeMore.SeeMoreActivity" />
        <activity android:name=".view.navigation.CategoryItemActivity" />
        <activity
            android:name=".view.ItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.navigation.SetupTownActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.WriteCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.WriteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name=".test.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDMfGPtcQQTFIuUhmLSyCfSZpqgp8_q4ME" />
    </application>

</manifest>